@import "./cake.css";
@import "variables.less";
@import "bootstrap.less";

body {
    padding: 70px 0;

    > div.room {
        .btn-container {
            padding: 5px 0;
            text-align: center;
        }
    }
    > div.container {
        > p {
            background-color: @gray-darker;
            border-radius: 10px;
            padding: 10px;
        }
    }
}
header {
    font-size: 14px;

    .navbar-brand {
        text-align: center;
        width: 100%;
    }
}
footer {
    font-size: 14px;
}
pre.meta {
    font-size: 60%;
}
